.banner-page{
    margin-top:70px;
    height: 335px;
    background-color: $gray;
    display: flex;
    align-items: center;

    &__left{
        width: 100%;
        display: flex;
        align-items: center;
        @include desde(sm){
            width: 40%;
            justify-content: flex-end;
        }
    }
    &__right{
        display: none;
        @include desde(sm){
            display: flex;
            width: 60%;
            height: 335px;
            background-position: center;
            background-size: cover;
            img{
                object-fit: cover;
                object-position: center;
            }
        }

    }
    &__box-content{
        width: 80%;
        margin-left: 20%;
        height: 170px;
        background-color: $gray;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-start;
        @include desde(sm){
            width: 575px;
        }
    }
    &__principal-content{
      width: 80%;
      margin-left: 20%;
      height: 170px;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      @include desde(sm){
          width: 0;
          height: 0;
          & * {
            opacity: 0;
          }
      }
    }

    &__title{
        font-size: 35px;
        font-family: $NovaBold;
        color: $gray;
        margin: 0;
        margin-left: 40px;
        margin-top: -20px;
    }
    &__description{
        font-size: 20px;
        font-family: $NovaLight;
        color: $gray;
        margin: 0;
        margin-left: 40px;
        margin-top: 5px;
    }
}
