header{
    background-color: $yellow;
    height: 70px;
    position: fixed;
    z-index: 1000;
    top: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    &__cotiza{
        margin-left: 20px;
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: center;
        &__phone{
            margin-right: 20px;
            a{
                color: $gray;
            }
        }
        .btn-gray{
            background-color: $gray;
            width: 132px;
            height: 100%;
        }
    }
    &__logo{
        width: 150px;
        height: 70px;
        display: flex;
        align-items: center;
    }
    &__img{
        width: 100%;
        height: auto;
    }
    &__menu{
        display: flex;
        justify-content: flex-end;
        height: 70px;
        align-items: center;
    }
    &__menu-movil{
        font-size: 1.5em;
        line-height: 1.5px;
        background-color: rgba(255,255,255,.2);
        color: white;
        height: 70px;
        display: flex;
        align-items: center;
        padding: 0 1em;
        cursor: pointer;
        @include desde(sm){
            display: none;
        }
    }
    &__menu-desktop{
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        width: 100%;
        left: 0;
        top:70px;
        margin: 0;
        transition: all ease-in-out .15s;
        &.active{
            display: flex;
            transition: all ease-in-out .15s;
        }
        @include desde(sm){
            display: flex;
            position: relative;
            flex-direction: row;
            top: 0;
            width: auto;
            left: 0;
        }
    }
    &__item{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgba($yellow, .9);
        border-bottom: solid 1px $gray;
        &:nth-child(1){
            border-top: solid 1px $gray;
        }
        @include desde(sm){
            width: auto;
            height: 70px;
            border: 0;
            &:hover{
                background-color: rgba(white, .1);
            }
            &:nth-child(1){
            border:0;
            }
            &:nth-last-child(1){
                background-color: white;
                margin-left: 20px;
                &:hover{
                    background-color: white;
                }
            }
        }
        @include desde(lg){
            min-width: 120px;
            &:nth-last-child(1){
                width: 166px;
                margin-left: 60px;
            }
        }
    }
    &__link{
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
         font-family: $NovaSemi;
        @include desde(sm){
            height: 70px;
            width: auto;
            padding: 0 1em;
            font-size: 14px;
            text-transform: uppercase;
            &:hover{
                color: rgba($gray, .8);
            }
        }
    }
}

.header-proyecto{
    &__detalle{
        background-color: #fff;
        height: 70px;
        position: fixed;
        z-index: 10001;
        top: 0;
        .header__item{
            background-color: #fff;
            @include desde(sm){
                width: auto;
                height: 70px;
                border: 0;
                border-bottom: solid 2px transparent;
                &:hover{
                    background-color: none;
                    border-bottom: solid 2px $gray;
                    box-sizing: border-box;
                }
                &.active{
                  background-color: none;
                  border-bottom: solid 2px $gray;
                  box-sizing: border-box;
                }

            }
            @include desde(lg){
                min-width: 120px;
                &:nth-last-child(1){
                    width: 120px;
                    margin-left: 0px;
                }
            }
        }
    }
    header{
        top: 70px;
    }
}



.header-absolute{
  position: relative;
}
.hp-right{
  display: flex;
}
.header-details{
  margin-right: 30px;
}
