.elige{
  background-color: $gray-100;
  padding: 100px 0px;
  &__table{
    width: 100%;
    margin: 0 auto;
    @include desde(md){
      width: 970px;
    }
    &__title{
      font-size: 40px;
      font-family: $NovaBold;
      margin-bottom: 50px;
      color: $gray;
    }
    &__header{
      height: 50px;
      background-color: $yellow;
      display: flex;
      line-break: 50px;
      align-items: center;
      text-align: center;
      justify-content: space-between;
      flex-direction: row;
      @include desde(md){
        justify-content: center;
      }
      &__tr{
        display: flex;
        justify-content: center;
        &:nth-child(1){
          display: none;
        }
        &:nth-child(3){
          display: none;
        }
        &:nth-child(4){
          display: none;
        }
        width: 165px;
        @include desde(md){
          &:nth-child(1){
            display: flex;
            justify-content: center;
          }
          &:nth-child(3){
            display: flex;
          }
          &:nth-child(4){
            display: flex;
          }
        }
      }
    }
    &__row{
      height: 109px;
      background-color: #fff;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      @include desde(md){
        justify-content: center;
        align-items: center;
        text-align: center;
      }

      &__tr{
        &:nth-child(2){
          display: none;
        }
        &:nth-child(3){
          display: none;
        }
        &:nth-child(4){
          display: none;
        }
        @include desde(md){
          width: 165px;
          height: 100%;
          border-right: solid 1px $gray-100;
          border-bottom: solid 1px $gray-100;
          display: flex;
          justify-content: center;
          align-items: center;
          .btn-gray{
            width: 120px;
          }
          &:nth-child(2){
            display: flex;
          }
          &:nth-child(3){
            display: flex;
          }
          &:nth-child(4){
            display: flex;
          }
          &:nth-child(0n + 1){
            border-left: solid 1px $gray-100;
          }
        } 
      }
    }
  }
}