.pdetalle{
  padding: 75px 0px;
  &__content{
    display: flex;
    flex-direction: column;
    @include desde(sm){
      flex-direction: row;
    }
    &__left{
      width: 60%;
      margin: 0 auto;
      &__title{
        font-size: 40px;
        font-family: $NovaBold;
        margin-bottom: 20px;
      }
      &__desc{
        font-size: 18px;
        font-family: $NovaLight;
        line-height: 1.3;
        margin-bottom: 30px;
      }
      &__footer{
        display: flex;
        flex-direction: column;
        @include desde(sm){
          flex-direction: row;
          justify-content: space-between;
        }
      }
    }
    &__right{
      width: 100%;
      margin: 0 auto;
      @include desde(sm){
        width: 30%;
      }
      &__title{
        margin-bottom: 30px;
        margin-top: 20px;
        @include desde(sm){
          margin-top: 0;
        }
      }
      &__items{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        &_item{
          width: 50%;
          display: flex;
          flex-direction: column;
          margin-bottom: 40px;
          padding-right: 20px;
          box-sizing: border-box;
          &__img{
            width: 30px;
            height: 100%;
            margin-bottom: 10px;
          }
        }
      }      
    }
  }
}