.postula{
    width: 90%;
    max-width: 500px;
    min-height: 400px;
    background-color: white;
    padding: 50px 30px;
    position: relative;
    margin-top: -70px;
    @include desde(sm){
        padding: 50px;
    }
    &__titulo{
        color: $gray;
        font-size: 26px;
        margin:0;
        font-family: $NovaSemi;
        @include desde(sm){
            font-size: 35px;

        }
    }
    &__row{
        margin-top: 20px;
        @include desde(sm){
            margin-top: 40px;
        }
    }
    & * .form__footer{
        display: flex;
        flex-direction: column;
        input{
            align-self: center;
        }
    }

    &__cerrar{
        position: absolute;
        right: 0;
        top: -16px;
        background-color: $black;
        width: 30px;
        height: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        &:hover{
            background-color: $gray;
        }
        span{
            color: white;
        }
    }
    & * input[type="file"]{
        border:dashed 1px $gray-200;
        min-height: 100px;
        border-radius: 3px;
        color: $gray;
        padding: 10px 10px;
        font-size: 18px;
        resize: none;
        opacity: 0;
        position: relative;
        z-index: 1;
        cursor: pointer;
        @include desde(md){
            height: 100px;
        }
    }
}
