footer{
    background-color: $gray;
}
.footer{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    @include desde(md){
        padding-top: 0;
    }
    &__top{
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include desde(xs){
            flex-direction: row;
            justify-content: space-between;
        }
        @include desde(sm){
            height: 82px;
        }
    }
    &__logo{
        display: flex;
        justify-content: center;
        align-items: center;
        @include desde(sm){
            width: 250px;
        }
    }
    &__img{
        width: 150px;
        display: flex;
        justify-content: center;
    }
    &__contactanos{
        padding: 20px 0;
        border-bottom: solid 1px rgba($gray-200, .3);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include desde(xs){
            align-items: flex-start;
        }
        @include desde(sm){
            width: calc(100% - 250px);
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0 5px;
        }
        @include desde(md){
            padding: 0 15px;
        }
        @include desde(lg){
            width: calc((100% - 250px) - 100px);
            margin-right: 100px;
        }
    }
    &__box-contactanos{
        text-align: center;
        &:nth-child(2){
            margin-top: .6em;
        }
        @include desde(sm){
           &:nth-child(2){
                margin-top: 0;
            }
        }
    }
    &__box-link{
        color: $gray-100;
        font-size: 14px;
        & .icon{
            font-size: 22px;
            color: $yellow;
        }
        & .bold{
            font-family: $NovaBold;
            color: white;
            @include desde(md){
                margin-right: 5px;
            }
        }
         @include desde(xs){
            font-size: 12px;
            display: flex;
            align-items: center;
            & .icon{
            font-size: 16px;
            color: $yellow;
            margin-right: 3px;
            }
        }
        @include desde(sm){
            font-size: 14px;
            display: flex;
            align-items: center;
            & .icon{
            font-size: 22px;
            color: $yellow;
            margin-right: 3px;
            text-align: left;
            }
        }
    }

    &__bottom{
        padding-top: 20px;
        display: flex;
        flex-direction: column;

    }
    &__contend{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        @include desde(sm){
            width: calc(100% - 250px);
            margin-left: 250px;
            justify-content: space-between;
        }
        @include desde(md){
            margin-bottom: 20px;
        }
        @include desde(lg){
            width: calc((100% - 250px) - 100px);
            margin-right: 100px;
        }
    }
    &__box-anchor{
        flex: 150px 0 1;
        @include desde(sm){
            flex: auto 0 1;
            padding-right: 20px;
            &:nth-last-child(1){
               flex: auto 0 1;
               padding-right: 0;
            }
        }
    }
    &__title-header{

    }
    &__title{
        font-size: 13px;
        font-family: $NovaSemi;
        color: $gray-200;
        text-transform: uppercase;
        @include desde(lg){
            font-size: 15px;
            letter-spacing: 0.85px;
        }
    }
    &__list{

    }
    &__item{
      margin-bottom: 8px;
    }
    &__link{
        font-size: 12px;
        color: $gray-200;
        @include desde(lg){
            font-size: 14px;
            letter-spacing: 0.83px;
        }
    }
    &__social{
        margin-top: 20px;
        display: flex;
    }
    &__social-item{
        margin-right: 20px;
        &:nth-last-child(1){
            margin-right: 0;
        }
    }
    &__social-link{
        color: $yellow;
        &:hover{
            color: white;
        }
        @include desde(lg){
            font-size: 24px;
        }
    }
    &__contend-copy{
        display: flex;
        flex-direction: column;
        align-items: center;
        @include desde(xs){
            flex-direction: row;
            justify-content: space-between;
            margin-top: 10px;
        }
        @include desde(sm){
            width: calc(100% - 250px);
            margin-left: 250px;
        }
        @include desde(lg){
            width: calc((100% - 250px) - 100px);
            margin-right: 100px;
        }
    }
    &__copy{
        text-align: center;
        color: $gray-300;
        font-size: 11px;
        font-family: $NovaSemi;
        @include desde(sm){
            margin: 0;
        }
    }
    &__desing-link{
        color: $gray-300;
        font-size: 11px;
        font-family: $NovaSemi;
    }
    &__desing{
        margin: 5px;
        span{
            //color: lighten(red, 20);
        }
        @include desde(sm){
            margin: 0;
        }
    }
}
