.banner{
    margin-top: 70px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    @include desde(lg){
        height: 500px;
    }
    &__cont-premiado{
        width: 300px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img{
        width: 150px;
    }
    &__title{
        text-align: center;
        color: white;
        font-size: 30px;
        font-family: $NovaSemi;
        line-height: 1.29;
    }
}