.slide{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    position: relative;
    &__center{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__previus,&__next{
        width: 20px;
        height: 20px;
        background-color: white;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $gray;
        font-size: 16px;
        cursor: pointer;
        transition: all .15s ease;
        z-index: 2;
        @include desde(sm){
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
        &:hover{
            background-color: $gray-100;
            transition: all .15s ease;
        }
    }
    &__previus{
      position: absolute;
      top: 50vh;
      left: 10%;
    }
    &__next{
      position: absolute;
      transform: translateY(-50vh);
      right: 10%;
    }
    &__cont-center{
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 0 .5em;
    }
    &__name{
        font-family: $NovaLight;
        font-size: 12px;
        color: white;
        text-transform: uppercase;
        margin: 0;
        margin-bottom: 20px;
        letter-spacing: 1.30px;
        @include desde(sm){
            font-size: 17px;
        }
    }
    &__title{
        font-size: 25px;
        font-family: $NovaBold;
        color: white;
        text-transform: uppercase;
        margin: 0;
        @include desde(sm){
            font-size: 50px;
        }
    }
    &__btn{
        margin-top: 20px;
        @include desde(sm){
            margin-top:50px;
        }
    }
    &__bottom{
        display: flex;
        justify-content: center;
        margin-bottom: 20px;
        span{
            font-size: 25px;
            color: white;
        }
    }
}
.btn-slide{
    width: 120px;
    height: 35px;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px white;
    color: white;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: $NovaBold;
    transition: all .15s ease;
    &:hover{
        color: $gray;
        background-color: white;
        transition: all .15s ease;
    }
    @include desde(sm){
        width: 160px;
        height: 45px;
        font-size: 14px;
    }
}

.slide-1{
    background: linear-gradient(to bottom, rgba(29,29,27,0.7) 0%, rgba(29,29,27,0.34) 51%, rgba(29,29,27,0) 100%), img("banners.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.slide-2{
    background: linear-gradient(to bottom, rgba(29,29,27,0.7) 0%, rgba(29,29,27,0.34) 51%, rgba(29,29,27,0) 100%), img("banners-ava.png");
    background-size: cover;
    background-position: center;
}
.slide-3{
    background: linear-gradient(to bottom, rgba(29,29,27,0.7) 0%, rgba(29,29,27,0.34) 51%, rgba(29,29,27,0) 100%), img("banners.png");
    background-size: cover;
    background-position: center;
}
